.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom style */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body {
  font-family: Poppins, sans-serif;
}

.modalBackground {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/images/modal-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.modalBackground img {
  margin-top: 3rem;
  width: 300px;
}

.fontName {
  font-family: 'Parisienne', cursive;
  color: #ead698;
  font-size: 40px;
}

.fontName2 {
  font-family: 'Parisienne', cursive;
  color: #D6B184;
  font-size: 3rem;
  font-weight: bold;
}


.normalFont {
  color: grey;
  font-size: 18px;
}

.normalFont2 {
  color: grey;
  font-size: 26px;
}

.semiHead {
  color: grey;
  font-size: 20px;
  font-weight: bold;
}



.btn-primary {
  background-color: darkblue !important;
  border-radius: 12px !important;
  font-size: 12px important;
}

.home-section {
  background-image: url('./assets/images/pojok.png'),
    linear-gradient(rgba(255, 255, 190, 0.4), rgba(0, 0, 0, 0.1));
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 10rem 0rem 10rem 0rem;
}

.mid-section {
  margin-top:50px;
  background-image: url('./assets/images/mid-img.png');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 10rem 0rem 30rem 0rem;
}

@media (max-width: 768px) {
  .home-section {
    padding: 5rem 0rem 5rem 0rem;
  }
  .mid-section {
    padding: 5rem 0rem 5rem 0rem;
  }
}

.timer {
  background-color: #d4ac2b;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .timer {
    padding: 0.25rem 1rem 0.25rem 1rem;
  }
}
